# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [16]:
pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [17]:
chipo = pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

### Step 4. How many products cost more than $10.00? 


Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [18]:
chipo.item_price= chipo.item_price.str.replace('$','')
chipo.item_price = chipo.item_price.astype(float)

In [24]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [40]:
chipo.loc[chipo.item_price>10,:].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [29]:
chipo.groupby(by='item_name')[['item_price']].sum().add_prefix('Each_').reset_index()

                                item_name  Eachitem_price
0                       6 Pack Soft Drink          356.95
1                           Barbacoa Bowl          672.36
2                        Barbacoa Burrito          894.75
3                   Barbacoa Crispy Tacos          120.21
4                     Barbacoa Salad Bowl          106.40
5                     Barbacoa Soft Tacos          250.46
6                           Bottled Water          302.56
7                                    Bowl           29.60
8                                 Burrito           44.40
9                             Canned Soda          137.34
10                      Canned Soft Drink          438.75
11                          Carnitas Bowl          736.71
12                       Carnitas Burrito          597.83
13                  Carnitas Crispy Tacos           77.96
14                         Carnitas Salad            8.99
15                    Carnitas Salad Bowl           66.34
16                    Carnitas Soft Tacos          375.94
17                           Chicken Bowl         7342.73
18                        Chicken Burrito         5575.82
19                   Chicken Crispy Tacos          472.13
20                          Chicken Salad           81.09
21                     Chicken Salad Bowl         1228.75
22                     Chicken Soft Tacos         1108.09
23                                  Chips          494.34
24           Chips and Fresh Tomato Salsa          361.36
25                    Chips and Guacamole         2201.04
26      Chips and Mild Fresh Tomato Salsa            3.00
27     Chips and Roasted Chili Corn Salsa           67.85
28     Chips and Roasted Chili-Corn Salsa           43.02
29  Chips and Tomatillo Green Chili Salsa          132.75
30    Chips and Tomatillo Red Chili Salsa          147.50
31  Chips and Tomatillo-Green Chili Salsa           78.87
32    Chips and Tomatillo-Red Chili Salsa           59.75
33                           Crispy Tacos           14.80
34                                   Izze           67.80
35                       Nantucket Nectar           98.31
36                                  Salad           14.80
37                          Side of Chips          185.90
38                             Steak Bowl         2260.19
39                          Steak Burrito         3851.43
40                     Steak Crispy Tacos          357.34
41                            Steak Salad           35.66
42                       Steak Salad Bowl          343.59
43                       Steak Soft Tacos          536.05
44                            Veggie Bowl          867.99
45                         Veggie Burrito          934.77
46                    Veggie Crispy Tacos            8.49
47                           Veggie Salad           50.94
48                      Veggie Salad Bowl          182.50
49                      Veggie Soft Tacos           73.96

### Step 6. Sort by the name of the item

In [41]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [42]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [43]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [44]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20